@import '@/assets/scss/_media-queries.scss';

:root {
  // Main
  --main-bg-color: #f6f7fa;

  --text-color-primary: #fff;

  --controls-bg-color: #0e1a35;
  --controls-bg-color-hover: #5584ff;

  --hover-transition-time: .1s;

  // Header
  --header-height: 120px;

  @include media-xl {
    --header-height: 80px;
  }

  @include media-md {
    --header-height: 60px;
  }

  --header-bg-color: #fff;

  // Navigation
  --nav-width: 320px;
  --nav-bg-color: #0e1a35;
  --nav-bg-color-hover: #122143;
  --nav-bg-bolor-before: #5584ff;
  --nav-font-size: 24px;

  .nav-min {
    --nav-width: 100px;
  }

  @include minimizeNav {
    --nav-width: 100px;
  }

  // Widgets

  --widget-bg-color: #fff;
  --widget-bg-color-2: #f4f5f8;

  --widget-elems-color: #8492af;
  --widget-elems-color-2: #000;
  --widget-elems-color-3: #0e1a35;
  --widget-elems-color-4: #fff;
  --widget-elems-color-hover: #f0f0f0;

  // Workflow

  --task-card-bg-color: #fff;

  // z-index

  --header-z-index: 2;
  --nav-z-index: 2;
}